doctype html
html
    head
        title = appTitle
    body
        h1 Welcome to #{appTitle} the Pug Website
        p This a simple web app to to test Node.js #[strong Express] framework with a pug template

        p Click for  
            a(href="./help") help
            |   with the app
            |   or something else.